.cart-item{
    max-width: 1300px;
    margin:40px auto;
    border: 1px solid rgba(127,127,127,0.16);
    box-shadow: 0 3px 6px rgba(127,127,127,0.11);
    position: relative;
}

.cart-image{
    width: 230px;
    height: 230px;
    padding:20px
}

.cart-content, .image-wrapper, .cart-info{
    display:inline-block;
    vertical-align: middle;
}


.cart-info{
position: absolute;
    right: 50px;
    top:100px
}

.cart-info p, input, button{
    display: inline-block;
    margin:0 30px
}

.cart-input{
    width: 50px;
}